@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .focus-div {
        @apply transition hover:-translate-y-1 border hover:z-40 hover:scale-105 duration-500;
    }
}